notebook==7.0.6
numpy==1.23.5
torch==2.1.1
torchvision==0.16.1
matplotlib==3.7.2
scikit-learn==1.0.2
scikit-image==0.22.0
timm==0.9.12
tqdm==4.66.1
pandas==2.1.4
grad-cam==1.5.0
opencv-python==4.8.0.76
